.navBar {
  background-color: #313131;
  padding: 2px 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  color: white;  
}

.link2 {
  text-decoration: none;
  color: black;  
}

.icon {
  font-size: 22px;
}

.symbol {
  padding: 0;
  margin: 0;
}

.homeImg {
  width: 100%;
}

.subMenu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 400px;
  margin-top: -20px;
}

.diplayItems {
  text-align: center;
  font-size: 12px;
}

.diplayItems img {
  width: 80%;
}

.diplayItems p {
  margin-top: 0;
}
